<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
      <img
        *ngIf="i === currentSlide"
        [src]="slide.src"
        class="slide"
        @carouselAnimation
      />
        <!-- <p style="z-index: 2000; position: relative; width: 100%; color: #FFF;" *ngIf="i === currentSlide"></p> -->
        <div class="wrapper-content" *ngIf="i === currentSlide">
            <h3>{{slide.title}}</h3>
            <h5>{{slide.subtitle}}</h5>
            <p>{{slide.text}}</p>
        </div>
    </ng-container>
    
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
  </div>